<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RapidFetch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RapidFetch.Properties.Settings>
            <setting name="Groups" serializeAs="String">
                <value />
            </setting>
            <setting name="showDisclaimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRunTrayBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstRunGroupCreation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastCheckForUpdate" serializeAs="String">
                <value>2007-03-08</value>
            </setting>
            <setting name="showInfoPane" serializeAs="String">
                <value>True</value>
            </setting>
        </RapidFetch.Properties.Settings>
    </userSettings>
</configuration>